{% extends 'base.html' %}
{% block content %}
    {% if not product_entry %}
    <p>There are no products in the ecommerce app.</p>
    {% else %}
    <table>
      <tr>
        <th>Product name</th>
        <th>Price</th>
        <th>Description</th>
      </tr>
    
      {% comment %} This is how to display product data
      {% endcomment %} 
      {% for product_entry in product_entries %}
      <tr>
        <td>{{product_entry.name}}</td>
        <td>{{product_entry.price}}</td>
        <td>{{product_entry.description}}</td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}
    
    <br />
    
    <a href="{% url 'main:create_product_entry' %}">
      <button>Add New Product</button>
    </a>
    <a href="{% url 'main:logout' %}">
      <button>Logout</button>
    </a>
    <h5>Last login session: {{ last_login }}</h5>
    <h5>User: {{ npm }}</h5>
<h1>Ecommerce App</h1>

<h5>NPM: </h5>
<p>{{ npm }}<p>

<h5>Name:</h5>
<p>{{ name }}</p>

<h5>Class:</h5>
<p>{{ class }}</p>
{% endblock content %}